<div class="container contact-form">
  <!--<div class="contact-image">
      <img src="https://image.ibb.co/kUagtU/rocket_contact.png" alt="rocket_contact"/>
  </div>-->
  <form [formGroup]="form" (ngSubmit)="submit()">
      <h3>Share feedback</h3>
     <div class="row">
          <!--<div class="col-md-6">
                <div class="form-group">
                  <input type="text" name="txtName" class="form-control" placeholder="Your Name *" value="" />
              </div>
              <div class="form-group">
                  <input type="text" name="txtEmail" class="form-control" placeholder="Your Email *" value="" />
              </div>
            <div class="form-group">
                  <input type="text" name="txtPhone" class="form-control" placeholder="Your Phone Number *" value="" />
              </div>
              <div class="form-group">
                  <input type="submit" name="btnSubmit" class="btnContact" value="Submit" />
              </div>
          </div>-->
          <div class="col-md-12">
              <div class="form-group">
                  <textarea name="txtMsg" formControlName="feedback" class="form-control" placeholder="Your Feedback *" style="width: 100%; height: 150px;"></textarea>
              </div>
              <div class="form-group">
                <!--<input type="submit" name="btnSubmit" class="btn btn-success btn-sm" value="Submit" />
                <input type="submit" name="btnSubmit" (onclick)="close()" class="btn btn-danger btn-sm" value="Close" />-->
                <button mat-button type="submit" class="btn btn-success btn-sm">Ok</button>
                <button mat-dialog-close class="btn btn-danger btn-sm">Cancel</button>
            </div>
          </div>
      </div>
  </form>
</div>