#myInput {
    background-image: url('/assets/icons/searchicon.png'); /* Add a search icon to input */
    background-position: 10px 12px; /* Position the search icon */
    background-repeat: no-repeat; /* Do not repeat the icon image */
    width: 100%; /* Full-width */
    font-size: 14px; /* Increase font-size */
    padding: 12px 20px 12px 40px; /* Add some padding */
    border: 1px solid #ddd; /* Add a grey border */
    margin-bottom: 12px; /* Add some space below the input */
    border-radius: 25px;
    font-family: cursive;  
}

.search-loader {
  background-color:rgb(182, 182, 189);   
  height: 2px;
  margin:1px;
  animation: search;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

@keyframes search {
  0%   {width: 10%;}
  25%  {width: 25%;}
  50%  {width: 50%;}
  75%  {width: 75%;}
  100% {width: 100%;}
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: black;
    opacity: 0.4; 
}

#myInput:focus { 

  border-radius: 25px !important;
  outline-color: white;
}


#myUL {
    /* Remove default list styling */
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 95%;
}

#suggestion ul {
  list-style-type: none;
}

.active {
    background-color:#123456 !important;
    color: white; 
    border:solid;  
}  

.matched-words { 
    font-family: Arial;
    font-size: 12px;
    color: #253fae;    
    overflow:hidden;
    white-space: wrap;   
}

.matched-word { 
  background-color: #eee;
  border-radius:5px;
  padding: 2px;
  margin-right: 4px;
}

#myUL li .selected a {
  background-color: #eee !important;
}

#myUL li a {
    border: 0px solid #ddd; /* Add a border to all links */
    margin-top: 1px; /* Prevent double borders */
    background-color: white; /* Grey background color */
    padding: 12px; /* Add some padding */
    text-decoration: none; /* Remove default text underline */
    font-size: 18px; /* Increase the font-size */
    color: black; /* Add a black text color */
    display: block; /* Make it into a block element to fill the whole list */
   /* height : 80px;*/
  
}

#myUL li a:hover{
    background-color: #eee; /* Add a hover effect to all links, except for headers */    
}

#myUL li a[options]:hover{
    background-color: #eee; /* Add a hover effect to all links, except for headers */    
}

.partial-result-link {
  align-content: center;
}

.search-message{
  font-style: italic;
}

#partials a:hover{
  background-color: #eee; /* Add a hover effect to all links, except for headers */    
}

#partials a[options]:hover{
  background-color: #eee; /* Add a hover effect to all links, except for headers */    
}

.sidebar {
   /* border-right: 1px solid #ddd;   */
   margin-left: 70px;
   margin-bottom: 1%;
   position:fixed;
   padding-left: 10px;
   top:0;
   left:0;
   min-width: 400px;
   padding-top: 45px;
   width: 20%;
   padding-bottom: 40px;
}

.title {
    font-family: Arial;
    font-size: 17px;
    color: #253fae;
    text-transform:capitalize;
    text-overflow:ellipsis;
    overflow:hidden;
    white-space: nowrap;
    display: inherit;
}

.info {
    font-size: 12px;
    color: #515759;
    font-family: cursive;
}

.loader {
    border: 5px solid #f3f3f3;
    -webkit-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite;
    border-top: 5px solid #555;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    margin: auto; 
}
  
@keyframes spin {
   0% { transform: rotate(0deg); }
   100% { transform: rotate(360deg); }
}

.profile-pic {
	position: relative;
	display: inline-block;
}

.profile-pic:hover .tools {
	display: block;
}

.tools {
  padding-top: 7px;
	padding-right: 7px;
  position: absolute;
	right: 15px;
	top: 8px;
	display: none;
}

.unindexed {
  height: 10px;
  width: 10px;
  background-color: rgba(255, 196, 0, 0.657);
  border-radius: 50%;
  display: inline-block;
}

.indexed {
  height: 10px;
  width: 10px;
  background-color: green;
  border-radius: 50%;
  display: inline-block;
}

.type-label-pdf {
 /* background-color:#ea97a6;*/
  border-radius:5px; 
  padding-top: 2px;
  padding-right: 4px;
  padding-bottom: 2px;
  padding-left: 4px;
  font-style: bold;
  font-weight: 700;
  font-family: cursive;
  color: rgb(245, 33, 33);

}

.type-label-html {
 /* background-color:#e8affd;*/
  border-radius:5px; 
  padding-top: 2px;
  padding-right: 4px;
  padding-bottom: 2px;
  padding-left: 4px;
  font-style: bold;
  font-weight: 700;
  font-family: cursive;
  color: rgb(40, 17, 240);
}

.hide {
  display: none;
}

/*
    .tree-info {
        flex: 1 0 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
      }

      .tree-controlls {
        display: flex;
        flex-direction: column;
      }

      .tree-content {
        display: flex;
        flex-direction: column;
      }

      .tree-container {
        margin-bottom: 20px;

      }

      .tree-container--with-controls {
        display: flex;
        flex-wrap: wrap;
      }

      .tree-demo-app {
        display: flex;
        flex-direction: column;
        margin-bottom:50px;
      }

      .tree-title {
        margin: 0;
        color: #40a070;
        font-size: 2em;
      }

      .notice {
        color: #e91e63;
        font-size: 1.2em;
        font-style: italic;
      }

      :host /deep/ .fa {
        cursor: pointer;
      }

      :host /deep/ .fa.disabled {
        cursor: inherit;
        color: #757575;
      }

      .button {
        border-radius: 4px;
        box-shadow: 0 2px 4px 0 #888;
        background-color: #fff;
        -webkit-appearance: none;
        border: 1px solid #000;
        height: 35px;
        outline: none;
      }

      .button-pressed {
        box-shadow: 0 0 1px 0 #888;
      }

      .tree-controlls button {
        margin: 5px;
      }*/