.tree-view {
  margin-left: 20px;
}

#myInput {
    background-image: url('/assets/icons/searchicon.png'); /* Add a search icon to input */
    background-position: 10px 12px; /* Position the search icon */
    background-repeat: no-repeat; /* Do not repeat the icon image */
    width: 100%; /* Full-width */
    font-size: 14px; /* Increase font-size */
    padding: 12px 20px 12px 40px; /* Add some padding */
    border: 1px solid #ddd; /* Add a grey border */
    margin-bottom: 12px; /* Add some space below the input */
    border-radius: 25px;
    font-family: cursive;  
}

.search-loader {
  background-color:rgb(182, 182, 189);   
  height: 2px;
  margin:1px;
  animation: search;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

@keyframes search {
  0%   {width: 10%;}
  25%  {width: 25%;}
  50%  {width: 50%;}
  75%  {width: 75%;}
  100% {width: 100%;}
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: black;
    opacity: 0.4; 
}

#myInput:focus { 

  border-radius: 25px !important;
  outline-color: white;
}

.editable {
  border: solid 1px green !important;
}

#myUL {
    /* Remove default list styling */
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 95%;
}

#suggestion ul {
  list-style-type: none;
}

.active {
    background-color:#123456 !important;
    color: white; 
    border:solid;  
}  

.matched-words { 
    font-family: Arial;
    font-size: 12px;
    color: #253fae;    
    overflow:hidden;
    white-space: wrap;   
}

.matched-word { 
  background-color: #eee;
  border-radius:5px;
  padding: 2px;
  margin-right: 4px;
}

#myUL li a {
    border: 0px solid #ddd; /* Add a border to all links */
    margin-top: 1px; /* Prevent double borders */
    background-color: white; /* Grey background color */
    padding: 12px; /* Add some padding */
    text-decoration: none; /* Remove default text underline */
    font-size: 18px; /* Increase the font-size */
    color: black; /* Add a black text color */
    display: block; /* Make it into a block element to fill the whole list */
   /* height : 80px;*/
  
}

#myUL li a:hover{
    background-color: #eee; /* Add a hover effect to all links, except for headers */    
}

#myUL li a[options]:hover{
    background-color: #eee; /* Add a hover effect to all links, except for headers */    
}

.partial-result-link {
  align-content: center;
}

#partials a:hover{
  background-color: #eee; /* Add a hover effect to all links, except for headers */    
}

#partials a[options]:hover{
  background-color: #eee; /* Add a hover effect to all links, except for headers */    
}

.sidebar {
   /* border-right: 1px solid #ddd;   */
   margin-left: 70px;
   margin-bottom: 150px;
}

.title {
    font-family: Arial;
    font-size: 17px;
    color: #253fae;
    text-transform:capitalize;
    text-overflow:ellipsis;
    overflow:hidden;
    white-space: nowrap;
    display: inherit;
}

.info {
    font-size: 12px;
    color: #515759;
    font-family: cursive;
}

.loader {
    border: 5px solid #f3f3f3;
    -webkit-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite;
    border-top: 5px solid #555;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    margin: auto; 
}
  
@keyframes spin {
   0% { transform: rotate(0deg); }
   100% { transform: rotate(360deg); }
}

.profile-pic {
	position: relative;
	display: inline-block;
}

.profile-pic:hover .tools {
	display: block;
}

.tools {
  padding-top: 7px;
	padding-right: 7px;
  position: absolute;
	right: 15px;
	top: 8px;
	display: none;
}

.unindexed {
  height: 10px;
  width: 10px;
  background-color: rgba(255, 196, 0, 0.657);
  border-radius: 50%;
  display: inline-block;
}

.indexed {
  height: 10px;
  width: 10px;
  background-color: green;
  border-radius: 50%;
  display: inline-block;
}

.type-label-pdf {
  background-color:#ea97a6;
  border-radius:5px; 
  padding-top: 2px;
  padding-right: 4px;
  padding-bottom: 2px;
  padding-left: 4px;
}

.type-label-html {
  background-color:#e8affd;
  border-radius:5px; 
  padding-top: 2px;
  padding-right: 4px;
  padding-bottom: 2px;
  padding-left: 4px;
}

.context-menu {
  position: absolute;
  display: none;
}

.contextmenu {
  padding :5px;
  list-style: none;
  margin-bottom: auto;  
}

.context-active {
  display: block;
  position: absolute;
}

.context-menu-label {
  background-color:#fffdfd;
  color:blue;
  border-radius:5px; 
  font-size: 15px;
  font-weight: 500;
  font-family: serif;
}

.container{ 
  background-color:#fffdfd;
  width: fit-content;
  border: solid 2px lavenderblush;
}
